.card-desc {
    font-size: 50px;
}

.light-sabers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35%;
    width: 50%;
    opacity: 0;
    display: none;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.show-sabers {
    display: block;
    opacity: 1;
}

.winner {
    -webkit-box-shadow: 0px 0px 8px 8px rgb(255, 232, 31);
    -moz-box-shadow: 0px 0px 8px 8px rgb(255, 232, 31);
    box-shadow: 0px 0px 8px 8px rgb(255, 232, 31);
}

.winner-text {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.starship-winner {
    top: 46%;
}

.starship-sabers {
    top: 40%;
    height: 30%;
    width: 43%;
}

.show-winner {
    display: block;
    opacity: 1;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.grey-out {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 1s ease;
}

.avatar {
    border-radius: 50px;
    position: relative;
}
